.checking-in-progress
    .icon.--glowing
        include image.pug
    h1 Checking your browser before accessing the website
    p.process_is_automatic This process is automatic, you will be redirected to the requested URL once validation process is complete
    p.timeout Allow up to 5 seconds...