doctype html
html
    head
        meta(charset='UTF-8')
        meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
        meta(name='robots' content='noindex, nofollow')
        meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1')
        title Just a moment...
        style(type='text/css')
    body
        .center-aligned-content
            noscript
                h1 You need to have JavaScript enabled to see the requested content
            .usercontent(style='display: none') %user_content%
            form(id='challenge-form' method='POST' action='?__umbuid=%randCacheBypass%' enctype='application/x-www-form-urlencoded')
                input(type='hidden' id='skuid' name='sk' value='%uuid%')
                input(type='hidden' id='jschallenge_answer' name='jschallenge')
        script(type='text/javascript')