doctype html
html
    head
        meta(charset='UTF-8')
        meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
        meta(name='robots' content='noindex, nofollow')
        meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1')
        title Attention Required!
        link(href='https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap' rel='stylesheet')
        style(type='text/css')
        script(type='text/javascript')
    body
        .center-aligned-content
            noscript
                h1 You need to have JavaScript enabled to see the requested content
            .recaptcha-content
                h1(style='display: none') %captcha_header%
                p(style='display: none') %captcha_text%
                form#grecaptcha_form(action='?__umb_rcptch_cb=%randCacheBypass%_%cookieTimestamp%' method='POST')
                    div(id='recaptcha_container')
        script(src='https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit' async defer)